@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;0,800;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply  bg-[url('/images/bg-images/black-bg.jpg')] bg-cover max-w-[1440px] mx-auto;
  
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  @apply text-basil-peat
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}
h3,
h2,
h1,
a,
p {
  @apply font-garmond tracking-wider text-[#881B1D];
}